<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="resources/css/utilities.css">
    <link rel="stylesheet" href="resources/css/style.css">    
    <title>Schedule Expert | “Schedule Expert empowers students to maximize productivity and success.”</title>
</head>
<body>
{{block "header" .}}
    <!-- Navbar-->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">Schedule Expert</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/docs">Client</a></li>
                </ul>
            </nav>
        </div>
    </div>
{{end}}


{{block "container" .}}
    <!-- Showcase -->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Proper Time Schedule</h1>
                <p>Ultimately, it can help you become a stronger and more confident version of yourself.Being you smart!.</p>
                <a href="/features" class="btn btn-outline">Read More</a>
            </div>

            <div class="showcase-form card">
                <h2>Searching your Routine</h2>
                <form action="/request"  method="POST" netlify-honeypot="bot-field" data-netlify="true">
                    {{/* <input type="hidden" name="form-name" value="contact"> */}}
                    {{/* <p class="hidden">
                        <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
                    </p> */}}
                    <div class="form-control">
                        <input type="text" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-control">
                        <input type="text" name="company" placeholder="Your ID" required>
                    </div>
                    <div class="form-control">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <input type="submit" value="send" class="btn btn-primary">
                </form>
            </div>
        </div>
    </section>

    <!-- Start -->
    <section class="stats">
        <div class="container">
            <h3 class="stats-heading text-center my-1">
                Welcome to the best platform for building application of alltypes with modern architecture and scaling.“Optimize your schedule and maximize your educational
                success with Schedule Expert!.” Empowering you,Benefited you and Finally being you smart!!
            </h3>

            <div class="grid grid-3 text-center my-4">
                <div>
                    <i class="fas fa-server fa-3x"></i>
                    <h3>10,349,405</h3>
                    <p class="text-secondary">Client/User</p>
                </div>
                <div>
                    <i class="fas fa-upload fa-3x"></i>
                    <h3>987</h3>
                    <p class="text-secondary">Published Supporter</p>
                </div>
                <div>
                    <i class="fas fa-project-diagram fa-3x"></i>
                    <h3>2,343,265</h3>
                    <p class="text-secondary">Projects Coardinator</p>
                </div>
            </div>
        </div>
    </section>  
    
    <!-- Cli -->
    <section class="cli">
        <div class="container grid">
            <img src="resources/images/cli.png" alt="">
            <div class="card">
                <h3>Easy to use, cross platform CLI</h3>
            </div>
            <div class="card">
                <h3>Deploy in seconds</h3>
            </div>
        </div>
    </section>

    <!-- Cloud -->
    <section class="cloud bg-primary my-2 py-2">
        <div class="container grid">
            <div class="text-center">
                <h2 class="lg">Extreme Support</h2>
                <p class="lead my-1">Fastest like you've never seen.Fast, efficient and scalabel</p>
                <a href="/features" class="btn btn-dark">Read More</a>
            </div>
            <img src="resources/images/cloud.png" alt="">
        </div>
    </section>
    <!-- Languages -->
    <section class="languages">
        <h2 class="md text-center my-2">
            Supported Languages
        </h2>
        <div class="container flex">
            <div class="card">
                <h4>Golang</h4>
                <img src="resources/images/logos/go.png" alt="">
            </div>
            <div class="card">
                <h4>Python</h4>
                <img src="resources/images/logos/python.png" alt="">
              </div>
              <div class="card">
                <h4>C#</h4>
                <img src="resources/images/logos/csharp.png" alt="">
              </div>
              <div class="card">
                <h4>Ruby</h4>
                <img src="resources/images/logos/ruby.png" alt="">
              </div>
              <div class="card">
                <h4>C_base</h4>
                <img src="resources/images/logos/Couchbase.png" alt="">
              </div>
              <div class="card">
                <h4>Scala</h4>
                <img src="resources/images/logos/scala.png" alt="">
              </div>
              <div class="card">
                <h4>Clojure</h4>
                <img src="resources/images/logos/clojure.png" alt="">
              </div>
        </div>
    </section>
{{end}}


{{block "footer" .}}
    <!-- Footer -->
    <footer class="footer bg-dark py-5">
        <div class="container grid grid-3">
            <div>
                <h1>Schedule Expert
                </h1>
                <p>Copyright &copy; 2023</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/docs">Docs</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>
{{end}}
</body>
</html>
